.square {
  /* background: #fff; */
  background: #4faf44;
  border: 1px solid;
  float: left;
  font-size: 18px;
  /* was 24 */
  font-weight: bold;
  line-height: 34px;
  height: 21px;
  /* was 28 */
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 21px;
  /* was 28 */
  text-transform: capitalize;
}

.number {
  position: absolute;
  bottom: 8px;
  /*was 4px*/
  left: 2px;
  font-size: 0.1em;
  /*was 0.7em*/
}

.div {
  display: flex;
  position: relative;
}

.clue {
  border: 1px solid rgb(0, 0, 0);
  float: left;
  font-size: 24px;
  text-align: center;
}

.container {
  /* display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 16px; */
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.modal_container {
  position: fixed;
  z-index: 2;
  text-align: center;
  background-color: #f6daf7;
  background-color: #ffc7c7;
  width: 50%;
  height: fit-content;
  top: 20%;
  left: 50%;
  margin-left: -5%; /* Negative half of width. was 25*/
  border-radius: 5px;
}

.close_btn {
  position: absolute;
  right: 15px;
  top: 15px;
  padding: 10px;
}

.new_btn {
  display: inline-block;
  background-color: #2a3492;
  padding: 20px;
  width: 200px;
  color: #ffffff;
  text-align: center;
  border: 4px double #cccccc; /* add this line */
  border-radius: 10px; /* add this line */
  font-size: 28px; /* add this line */
}
